

/* @import url('https://fonts.googleapis.com/css?family=Roboto:normal,bold'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* { margin:0 ; padding:0 ; border:0 ; /* -webkit-appearance: none; */ font-family: 'Poppins', sans-serif; box-sizing: border-box;font-weight: 300;}

/* outline:1px solid black; */

:root{
  --primary-color:#33d9bf;
  --text-color:#828686;
  --hover-on-primary : #31c7b0;
  --error-color:rgb(230, 63, 63);
  --filter-black: invert(16%) sepia(11%) saturate(435%) hue-rotate(202deg) brightness(97%) contrast(88%);
  --filter-primary: invert(67%) sepia(99%) saturate(325%) hue-rotate(115deg) brightness(84%) contrast(88%);
  }

body{
  width: 100vw;
}

html {
  color: #242427;
}

.icon {
 width: 40px;
filter: var(--filter-black);
}

/* input:hover, input:active, input:focus{border: none;} */

::placeholder { color: RGBA(0, 0,0,0.3);}

::-webkit-scrollbar {  width: 0px;  height:10px;}

::-webkit-scrollbar-track { background: RGBA(0,0,0,0.07);  }

::-webkit-scrollbar-thumb { background: RGBA(0,0,0,0.2); border-radius: 30px; overflow:hidden; }

::-webkit-scrollbar-thumb:hover { background: RGBA(0,0,0,0.3) ; }



@keyframes fadec { from {right:-10%; opacity:0.6;} to {right:0%; opacity:1;}}



li{list-style: none}


img{display: block; width: 100%;}


#map{

  width:100%;

  height:450px;

  border:0;

}

*:focus{

  outline: none;

  border-color: inherit;

  -webkit-box-shadow: none;}



/************************************ GENERAL STYLE  **************************************************************/

/******************************************************************************************************************/

.title_vbg{font-size: 28px;font-weight: 800;width: 100%;}

.title_bg{font-size: 23px;font-weight: 800;width: 100%;}

.title_bgt{font-size: 18px;font-weight: 800;width: 100%;}

.title_small{font-size: 1.15rem;font-weight: 600;width: 100%;}

.subtitle_small{font-size: 13px;font-weight: 400;width: 100%;}

.text{font-size: 17px;font-weight: 400;width: 100%;}



.bold{font-weight: 600}

.cursor{cursor: pointer;}



.align-items-center{

  align-items: center!important;

}

.padding30{padding: 30px;}

.text_red{color: rgb(239, 57, 57);}



.primary_color{background-color: #ffffff}

.p_color{background-color: #1e1e1e}

.primary_btn{background-color: #ae5204; color: #fff;}

.secondary_btn{    color: #f6bc25;    border: 1px solid;}



.secondary_color1{background-color: rgb(255, 255, 255);}

.secondary_color2{background-color: #f6bc25;}

.secondary_color3{background-color: #FFE7D4;}

.secondary_color4{background-color: #d0d8f5;}

.secondary_color5{background-color: #EDE9D0;}

.secondary_color6{background-color: #dddbe9;}

.secondary_color7{background-color: #eaeaea;}

.secondary_color8{background-color: #323246;}

.secondary_color10{background-color: #6fb96f;}

.secondary_color11{background-color: #d8d8d8;}

.secondary_color14{background-color: #f3f2f2;}

.secondary_color13{background-color: #ceeece;}



.text_color1{color: rgba(56, 56, 56, 0.86);;}

.text_color2{color:white;}

.text_color7{color:#72727f;}

.text_color3{color: rgb(31 31 58);}

.text_color4{color:#993304; }

.text_color5{color:rgb(0, 0, 0) }

.text_color6{color:#ee3124 }

.blod{font-weight: bold;}

.h65{ height: 65vh;}

.text_center{text-align: center;}

.text_left{text-align: left;}

.text_right{text-align: right;}



.text_shadow{text-shadow: 2px 2px 2px rgba(87, 87, 87, 0.4);}

.padding5{padding: 5px;}

.padding15{padding: 15px;}

.paddinglr10{padding: 0px 10%;}

.padding40{padding:40px}

.padding80{padding:80px}

.paddingRL{padding: 0px 100px }

.padding_rl{padding: 0px 20px }

.padding_rl30{padding: 0px 35% }

.padding_rl40px{padding: 0px 40px }

.p-l-r-15p{padding: 0px 15px;}

.padding_top15{padding-top: 15px;}

.padding_top20{padding-top: 20px;}

.padding_top30{padding-top: 30px;}

.padding_top50{padding-top: 50px;}

.padding_tb50{padding: 30px 0px;}

.padding_tb50{padding: 30px 0px;}



.margin5{margin: 5px;}

.margin_top10{margin-top: 10px;}

.margin_top15{margin-top: 15px;}

.margin_top20{margin-top: 20px;}

.margin_top30{margin-top: 30px;}

.margin_top40{margin-top: 40px;}

.margin_top55{margin-top: 55px;}

.margin_tb55_rl10{margin: 60px 20px;}

.margin50{margin: 50px;}

.margin20{margin: 20px;}

.marginlr100 {margin:30px 25%;}

.marginlr30 {margin:30px 30%;}

.m-10{margin:10%;}

.m-5p-auto{margin:5px auto;}

.p-10{padding:10%;}

.m-1-10{margin: 0em 10%;}

.m-5-10{margin: 5% 10%;}

.p-b-10{padding-bottom: 10%;}

.m-b-30{margin-bottom: 30px;}

.m-b-15{margin-top: 15px;}

.p-b-8{padding-bottom: 8px;}

.p-b-5{padding-bottom: 5px;}

.m-r-l-10p{margin: 0px 10px;}

.p-b-5p{padding-bottom: 5%;}

.p-r-8{padding-right: 8px;}

.p-t-8{padding-top: 8px;}

.p-l-8{padding-left: 8px;}

.p-l-r-15{padding: 0% 15%;}

.m-l-r-20p{margin: 0% 20px;}

.m-l-r-15{margin: 0% 15%;}

.m-10p{margin: 10px ;}

.m-20-10R{margin: 10% 7% 20px;}

.m-20p{margin: 20px;}

.m-10pr{margin: 5%;}

.p-20p{padding: 20px ;}

.p-l-r-10{padding: 0% 10%;}

.p-l-r-5{padding: 0% 5%;}

.p-t-5{padding-top: 5%;}

.p-t-3{padding-top: 3px;}

.p-t-15{padding-top: 15%;}

.gap-10{grid-gap: 10px;}

.gap-20{grid-gap: 20px;}

.gap-30{grid-gap: 30px;}

.gap-40{grid-gap: 40px;}

.gap-50{grid-gap: 50px;}

.m-l-10p{margin-left: 10px;}

.m-r-l-15p{margin-left: 15px;margin-right: 15px;}

.m-b-t-15p{margin: 15px 0px;}

.m-b-t-5p{margin: 5px 0px;}

.flex_content{display: flex;align-content: space-between;align-items: flex-end;flex-direction: column;}

.card_form{border: 1px solid #e1e0e0;padding: 35px 10px;margin: 5px;}

.block{display:block;}

.none{display: none;}

.grid{display:grid;}

.flex-end{place-items:flex-end;}

.flex{display: flex;}

.list-item{display: list-item;}

.left{place-items: left;}

.center{place-items: center;}

.right{place-items: right;}

.place_center{place-content: center;}

.justify{text-align: justify;}



.row1{display:grid;grid-template-rows: 1fr;}

.row2{grid-template-rows: 1fr 1fr;}

.row3{grid-template-rows: 1fr 1fr 1fr;}

.row4{grid-template-rows: 1fr 1fr 1fr 1fr;}

.row1-02{grid-template-rows: 1fr 0.5fr;}



.colmn2{display: grid;grid-template-columns: 1fr 1fr;}

.colmnspecial{display: grid;grid-template-columns: 1fr 0.2fr 1fr;}

.colmn3{display: grid;grid-template-columns: 1fr 1fr 1fr;}

.colmn3bloc{display: grid;grid-template-columns: 1fr 1fr 1fr;}

.colmn3fix{display: grid;grid-template-columns: 1fr 1fr 1fr;}

.colmn4{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;}



.colmn5{grid-template-columns: repeat(5, 1fr);}

.colmn6{grid-template-columns: repeat(6, 1fr);}

.colmn7{grid-template-columns: repeat(7, 1fr);}

.colmn8{grid-template-columns: repeat(8, 1fr);}

.colmn9{grid-template-columns: repeat(9, 1fr);}

.gap10{gap: 10px;}

.gap20{gap:20px}

.gap40{gap: 40px;}



.vw100{width: 100vw;}

.w100{width: 100%;}

.w30{width: 30% !important;}

.h100{height: 100%;}

.max-content{height: max-content;}



.shadow{box-shadow:2px 2px 10px rgba(87, 87, 87, 0.4)}

.shadowhover:hover{box-shadow:2px 2px 10px rgba(138, 138, 138, 0.4)}

.header_box_content{height: 60px; padding:0px 10px;}

.button{border-radius: 5px;display: grid; place-items: center; padding:0px 30px; /* margin: 0px 5px 15px; */ }

.button:hover{    box-shadow: 2px 2px 10px rgba(155, 155, 155, 0.38);}



/* .button:hover{box-shadow:2px 2px 10px rgba(87, 87, 87, 0.4)} */

.float_button{border-radius: 50%;padding: 10px;display: grid;place-items: center;position: fixed;top: 25px; right: 50px;width: 60px; height: 60px;}

.float_button:hover{border-radius: 2%;width: 100px; height: 60px;}

.float_button:hover .label {border-radius: 2%;width: 100px; height: 60px;display: block;}

.float_button .label{display: none;}



/* .page{display: grid;width: 100vw;} */



/* .section{display: grid;grid-template-rows: 60px 1fr;overflow-x: scroll;height:500px;width: 580px;} */

.radius{border-radius: 5px;}

.border1{border: 1px solid rgba(0, 0, 0, 0.44);}

.scroll{

  height: calc(100vh - 219px);

  overflow-y: auto;

  overscroll-behavior: contain;

  /* padding-bottom: 300px; */

}



.h80{

  height: 80vh;

}

/* .selected_link{color: #ffffff;} */



/* #overlay, .overlay{background-color: #00000073; height: 100%; display: block;width: 100%; position: fixed; top: 0;left: 0;z-index:200;display: non; } */

#overlayTop{background-color: rgb(0, 0, 0,0.6); height: 100%; display: block;width: 100%; position: fixed; top: 0;left: 0;z-index:499;display: none; }



.dash_box{width: 280px;height: 120px;box-shadow:2px 2px 10px rgba(87, 87, 87, 0.4)}

.dash_box:hover{box-shadow:2px 2px 10px rgba(87, 87, 87, 0.548)}

.dash_box_icon{font-size: 55px;}

.dash_box_img {margin-left: 30px;}

.dash_box_img img{width: 45px;}



.table{display: grid;grid-template-rows: 80px 60px 1fr;}

.table_header{border-bottom: solid rgba(216, 216, 216, 0.657);width: 100%;height: 100%;display: grid;}

.table_body{width: 100%;height: 100%;place-items:initial;}



.line{border-bottom: 1px solid rgba(177, 177, 177, 0.657);}



/************************************ Position  *************************************************/

/************************************************************************************************/

.relative{position: relative;}

.absolute{position: absolute;}



/************************************ SIDE MENU  ************************************************/

/************************************************************************************************/





#side_menu{position: fixed;display: grid;right: 0px; top:0px;width: 30vw;height: 100vh;grid-template-rows: 12% 1fr 15%;animation: fadec 0.5s forwards ease-out;display: block;z-index: 500;display: none;}

#side_menu .colmn2{grid-template-columns: 1fr 1fr;}

#confirm_modification{width: 200px;}



@media screen and (min-width:800px) and (max-width:1100px){

  .colmn3{grid-template-columns: 1fr 1fr;}

  .colmn4{display: grid;grid-template-columns: 1fr 1fr }

}

@media screen and (min-width:0px) and (max-width:800px){

  .colmn3{grid-template-columns: 1fr;}

  .colmn4{display: grid;grid-template-columns: 1fr ;}

  .colmn3bloc{grid-template-columns: 1fr;}

}

@media screen and (min-width:0px) and (max-width:900px){

  .colmn3fix{display: grid;grid-template-columns: 1fr 1fr;}

  .colmn2{grid-template-columns: 1fr;}

  .section{width: 100vw;height: auto;}

  .padding40{padding:0px}

  .padding40s{padding:0px}

  .padding_rl30{padding: 0px 2% }

  .m-20-10R{margin: 7em 10% 10px;}

  .marginlr100 {margin:30px 10%;}

  .paddingRL{padding: 10px}

}



.lds-dual-ring {

    display: inline-block;

    width: 80px;

    height: 80px;

}

.lds-dual-ring:after {

  content: " ";

  display: block;

  width: 64px;

  height: 64px;

  margin: 8px;

  border-radius: 50%;

  border: 6px solid #B34C20;

  border-color: #B34C20 transparent #B34C20 transparent;

  animation: lds-dual-ring 1.2s linear infinite;

}

@keyframes lds-dual-ring {

  0% {transform: rotate(0deg);}

  100% {transform: rotate(360deg);}

}

.align-items-center {align-items: center!important;}

.justify-content-between {justify-content: space-between!important;}



.justify-content-center {justify-content: center!important;}

.d-flex{display: flex!important;}

.margin-r-auto{ margin-right: auto;}

.margin-l-auto{ margin-left: auto;}

.margin-auto{ margin: auto;}



hr {

  margin: 1rem 0;

  color: inherit;

  border: 0;

  border-top: 1px solid;

  opacity: 0.25;

}



h6, h5, h4, h3, h2, h1 {

  margin-top: 0;

  margin-bottom: 0.5rem;

  font-weight: 500;

  line-height: 1.2;

}



h1 {

  font-size: calc(1.375rem + 1.5vw);

}

@media (min-width: 1200px) {

  h1 {font-size: 2.5rem;}

}



h2 {font-size: calc(1.325rem + 0.9vw);}

@media (min-width: 1200px) {

  h2 {font-size: 2rem;}

}



h3 {font-size: calc(1.3rem + 0.6vw);}

@media (min-width: 1200px) {

  h3 {font-size: 1.75rem;}

}



h4 {font-size: calc(1.275rem + 0.3vw);}

@media (min-width: 1200px) {

  h4 {font-size: 1.5rem;}

}



h5 {font-size: 1.2rem;}



h6 {font-size: 1rem;}



p {margin-top: 0;margin-bottom: 1rem;}



abbr[title] {

  -webkit-text-decoration: underline dotted;

  text-decoration: underline dotted;

  cursor: help;

  -webkit-text-decoration-skip-ink: none;

  text-decoration-skip-ink: none;

}



address {margin-bottom: 1rem;font-style: normal;line-height: inherit;

}



/* ol,

ul {

  padding-left: 2rem;

}



ol,

ul,

dl {

  margin-top: 0;

  margin-bottom: 1rem;

}



ol ol,

ul ul,

ol ul,

ul ol {

  margin-bottom: 0;

} */



#connection_status{

  width: 450px;

  height: 180px;

  position: fixed;

  right: 10px  !important;

  bottom:10px;

  background-color: #ffffff;

  animation: fadec2 0.5s forwards ease-out;

  display: none;

}



.popup {

  display: none; /* Hidden by default */

  position: fixed; /* Stay in place */

  z-index: 1; /* Sit on top */

  padding-top: 200px; /* Location of the box */

  left: 0;

  top: 0;

  width: 100%; /* Full width */

  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0,0,0); /* Fallback color */

  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.popup .popup-content {

  place-items: center;

  background-color: #fefefe;

  margin: auto;

  padding: 15px;

  border: 1px solid #888;

  border-radius: 5px;

  width: 30%;

  height: 30%;

  display: grid;

  grid-template-rows: 1fr 40%;



}

.popup-content .popup_footer{     display: grid;

  place-items: center;

  background-color: #1f1f3a;

  margin: 0px 40%;

  padding: 0%;

  border-radius: 33px;

  color: white;

  color: white;

  width: 100px;

  height: 40px;

  cursor: pointer;

  border-radius: 6px; 

}

.modal_add {

  display: none;

  position: fixed;

  z-index: 1000;

  padding-top: 260px;

  left: 0;

  padding-left: 15%;

  top: 0;

  width: 100%;

  height: 100%;

  overflow: auto;

  background-color: rgb(0 0 0 / 5%);

  padding-right: 15%;

}

.modal_add .modal-content {

  background-color: #fefefe;

	border-radius: 5px;

  margin: auto;

  padding: 30px;

  border: 1px solid #888;

  width: 35%;

  height: 30%;

  display: grid;

}

.modal-content .modal_footer{display: grid;grid-template-columns: 1fr 1fr;place-items: center;background-color: white; padding: 0% ; }



.modal_details {

  display: none; /* Hidden by default */

  background-color: rgb(0,0,0); /* Fallback color */

  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}



.modal-dialog_details{

  display: none; /* Hidden by default */

  padding: 100px 100px;

  right: 0; 

  bottom: 0; 

  overflow: scroll;

  overflow-x: hidden;

  position: fixed; /* Stay in place */

  z-index: 400; /* Sit on top */

  left: 0;

  top: 0;

}

#details_skip{

  font-size: 20px;

  font-weight:300;

}



.modal_details .modal-content_details {

  background-color: #fefefe;

  border-radius: 10px;

  height: 75vh;

}



.modal-content_details .modal_footer_details{display: grid;place-items: center;background-color: white; padding: 0% ; }



.modal-header_details {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: start;

  -ms-flex-align: start;

  align-items: flex-start;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

  padding: 1.5rem;

  color: white;

  border-bottom: 1px solid #e9ecef;

  border-top-left-radius: .3rem;

  border-top-right-radius: .3rem;

	font-size: 20px;

	font-weight: 100;

}



.modal-body_details {

  position: relative;

  -webkit-box-flex: 1;

  -ms-flex: 1 1 auto;

  flex: 1 1 auto;

  padding: 2rem;

  display: grid;

  grid-template-columns: 250px 1fr;

	overflow-y: scroll;

  height: 85%;

}

.exposant_page .modal-body_details {

  position: relative;

  -webkit-box-flex: 1;

  -ms-flex: 1 1 auto;

  flex: 1 1 auto;

  padding: 2rem;

  display: block;

	overflow-y: scroll;

  height: 85%;

  border: none;

}

.exposant_page .modal-body_details_content {

  grid-template-rows:  1fr;

  border: none;

  margin : 0px;

  grid-gap: 5px;

}



.modal-body_details_head {

  display: grid;

  grid-template-rows: 40px 20vh;

  grid-gap: 10px;

  padding-bottom: 30px;

}





.modal-body_details_content {

  border-right: 1px solid #8080807a;

  margin : 50px 0px;

  display: grid;

  grid-template-rows:0.5fr 1fr;

  grid-gap: 10px;

  padding-bottom: 30px;

}

.modal-body_details_remark {

  display: grid;

  grid-template-rows: 40px 1fr;

  grid-gap: 10px;

  padding-bottom: 30px;

}



.dropdown{

  position: relative;

}



.dropdown-content div {

  padding: 12px 14px;

  text-decoration: none;

  display: block;

  font-size: 16px;

  text-align: start;

  cursor: pointer;

}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown a:hover {background-color: #ddd;}

.show {display: block!important;}



#notifications_indicator{

  background-color: rgb(255, 0, 0);

  border-radius: 50%;

  color: white;

  font-weight: 500;

  font-size: 15px;

  text-align: center;

  width: 20px;

  height: 20px;

}





.hide{display: none;}

.show{display: grid;}



input:-webkit-autofill,

input:-webkit-autofill:hover, 

input:-webkit-autofill:focus,

textarea:-webkit-autofill,

textarea:-webkit-autofill:hover,

textarea:-webkit-autofill:focus,

select:-webkit-autofill,

select:-webkit-autofill:hover,

select:-webkit-autofill:focus {

  -webkit-text-fill-color: inherit;

  -webkit-box-shadow: 0 0 0px 1000px inherit inset;

  transition: background-color 5000s ease-in-out 0s;

}



.SucessContainer .w3-modal-icon {

  border-radius: 50%;

  border: 4px solid gray;

  box-sizing: content-box;

  width: 80px;

  height: 80px;

  padding: 0;

  position: relative;

  scale: 0.35;

}

.SucessContainer .w3-modal-icon.w3-modal-success, .SucessContainer .w3-modal-icon.f-modal-error {

  border-color: var(--primary-color);

}

.SucessContainer .w3-modal-icon.w3-modal-success:after, .SucessContainer .w3-modal-icon.w3-modal-success:before, .SucessContainer .w3-modal-icon.f-modal-error:after, .SucessContainer .w3-modal-icon.f-modal-error:before {

  content: '';

  height: 120px;

  position: absolute;

  -webkit-transform: rotate(45deg);

          transform: rotate(45deg);

  width: 60px;

}

.SucessContainer .w3-modal-icon.w3-modal-success:before, .SucessContainer .w3-modal-icon.f-modal-error:before {

  border-radius: 120px 0 0 120px;

  left: -33px;

  top: -7px;

  -webkit-transform-origin: 60px 60px;

          transform-origin: 60px 60px;

  -webkit-transform: rotate(-45deg);

          transform: rotate(-45deg);

}

.SucessContainer .w3-modal-icon.w3-modal-success:after, .SucessContainer .w3-modal-icon.f-modal-error:after {

  border-radius: 0 120px 120px 0;

  left: 30px;

  top: -11px;

  -webkit-transform-origin: 0 60px;

          transform-origin: 0 60px;

  -webkit-transform: rotate(-45deg);

          transform: rotate(-45deg);

}

.SucessContainer .w3-modal-icon.w3-modal-success .w3-modal-placeholder, .SucessContainer .w3-modal-icon.f-modal-error .w3-modal-placeholder {

  border-radius: 50%;

  border: 4px solid rgba(165, 220, 134, 0.2);

  box-sizing: content-box;

  height: 80px;

  left: -4px;

  position: absolute;

  top: -4px;

  width: 80px;

  z-index: 2;

}

.SucessContainer .w3-modal-icon.w3-modal-success .w3-modal-fix, .SucessContainer .w3-modal-icon.f-modal-error .w3-modal-fix {

  height: 90px;

  left: 28px;

  position: absolute;

  top: 8px;

  -webkit-transform: rotate(-45deg);

          transform: rotate(-45deg);

  width: 5px;

  z-index: 1;

}

.SucessContainer .w3-modal-icon.w3-modal-success .w3-modal-line, .SucessContainer .w3-modal-icon.f-modal-error .w3-modal-line {

  background-color: var(--primary-color);

  border-radius: 2px;

  display: block;

  height: 5px;

  position: absolute;

  z-index: 2;

}

.SucessContainer .w3-modal-icon.w3-modal-success .w3-modal-line.w3-modal-tip, .SucessContainer .w3-modal-icon.f-modal-error .w3-modal-line.w3-modal-tip {

  left: 14px;

  top: 46px;

  -webkit-transform: rotate(45deg);

          transform: rotate(45deg);

  width: 25px;

}

.SucessContainer .w3-modal-icon.w3-modal-success .w3-modal-line.w3-modal-long, .SucessContainer .w3-modal-icon.f-modal-error .w3-modal-line.w3-modal-long {

  right: 8px;

  top: 38px;

  -webkit-transform: rotate(-45deg);

          transform: rotate(-45deg);

  width: 47px;

}





.SucessContainer .w3-modal-icon + .w3-modal-icon {

  margin-top: 50px;

}



.animateSuccessTip {

  -webkit-animation: animateSuccessTip .75s;

          animation: animateSuccessTip .75s;

}



.animateSuccessLong {

  -webkit-animation: animateSuccessLong .75s;

          animation: animateSuccessLong .75s; 

}



.w3-modal-icon.w3-modal-success.animate:after {

  -webkit-animation: rotatePlaceholder 4.25s ease-in;

          animation: rotatePlaceholder 4.25s ease-in;

}



.empty_content{

  text-align: center;

  display: grid;

  place-content: center;

  font-weight: 600;

  color: #25385e57;

  padding: 10px 0px;

}



@-webkit-keyframes animateSuccessTip {

  0%,54% {

    width: 0;

    left: 1px;

    top: 19px;

  }

  70% {

    width: 50px;

    left: -8px;

    top: 37px;

  }

  84% {

    width: 17px;

    left: 21px;

    top: 48px;

  }

  100% {

    width: 25px;

    left: 14px;

    top: 45px;

  }

}



@keyframes animateSuccessTip {

  0%,54% {

    width: 0;

    left: 1px;

    top: 19px;

  }

  70% {

    width: 50px;

    left: -8px;

    top: 37px;

  }

  84% {

    width: 17px;

    left: 21px;

    top: 48px;

  }

  100% {

    width: 25px;

    left: 14px;

    top: 45px;

  }

}



@keyframes animateSuccessLong {

  0%,65% {

    width: 0;

    right: 46px;

    top: 54px;

  }

  84% {

    width: 55px;

    right: 0;

    top: 35px;

  }

  100% {

    width: 47px;

    right: 8px;

    top: 38px;

  }

}

@keyframes rotatePlaceholder {

  0%,5% {

    -webkit-transform: rotate(-45deg);

            transform: rotate(-45deg);

  }

  100%,12% {

    -webkit-transform: rotate(-405deg);

            transform: rotate(-405deg);

  }

}

